.films {
    margin: 60px 0 75px;
}

.films__wrap {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.films__title {
    display: flex;
}

.films__title-text {
    font-family: var(--C);
    font-size: 36px;
    font-weight: 400;
    color: var(--lightOrange);
    border-bottom: 3px solid #F18128;
    padding: 2px 2px 5px;
}

.films__card-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.films__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 55px 15px 15px;
    border-radius: 6px;
    background: url(../img/cardbg.png) no-repeat center/cover;
    position: relative;
    z-index: 1;
    max-width: 255px;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.films__card:hover{
    scale: 1.05;
}

#two{
    background: url(../img/cardbg2.png) no-repeat center/cover;
}

#three{
    background: url(../img/cardbg3.png) no-repeat center/cover;
}

#four{
    background: url(../img/cardbg4.png) no-repeat center/cover;
}

.films__card-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    z-index: -1;
    border-radius: 6px;
    transition: 0.3s;
}

.films__card:hover .films__card-bg{
    opacity: 0.5;
}

.films__card-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.films__card-time {
    font-family: var(--M);
    font-size: 14px;
    font-weight: 400;
    color: var(--w);
    padding: 7px 27px;
    border: 2px solid #fff;
    border-radius: 10px;
    line-height: 70%;
    background: #070F1933;
}

.films__card-desc {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.films__card-desc-title {
    font-family: var(--M);
    font-size: 22px;
    font-weight: 400;
    color: var(--w);
}

.films__card-desc-text {
    font-family: var(--R);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--w);
}


@media screen and (max-width: 1140px) {
    .films__card-wrap{
        grid-template-columns: repeat(2, 1fr);
    }
    .films__card:nth-child(1){
        justify-self: right;
    }
    .films__card:nth-child(3){
        justify-self: right;
    }
    .films__title{
        justify-content: center;
    }
}

@media screen and (max-width: 600px){
    .films__card-wrap{
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }
    .films__card:nth-child(1){
        justify-self: center; 
    }
    .films__card:nth-child(3){
        justify-self: center;
    }
}